.App {
  text-align: center;
}

.Navbar{

display: flex;
justify-content: space-around;
min-height: 10vh;
align-items: center;
background: #333;
color: white;

}
.Navbar ul{
  width: 200px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
